@media (max-width:1400px){
    
}
@media (min-width:1200px) and (max-width:1399px){
    .trainer-des{
        padding: 30px 20px 0px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .trainer-card{
        display: block !important;
    }
    .trainer-card img{
        width: 100%;
        height: auto;
    }
    .text-title-first{
        padding: 0 200px;
    }
    .text-title-first{
        padding: 0;
    }
}
@media (max-width:991px){
    .navbar{
        padding: 0 10px 10px;
    }
    .col-foot{
        padding-left: 0px;
    }
    .text-title p{
        padding: 0 5px;
    }
    .trainer-des {
        padding: 50px 30px 30px;
    }
}
@media (max-width:767px){
    .trainer-card{
        display: block !important;
    }

    .trainer-card img{
        width: 100%;
        height: auto;
    }
    .text-title-first{
        padding: 0 200px;
    }
    .text-title-first{
        padding: 0;
    }
    .form-sign{
        margin: 0 10px;
    }
    #member-banner-res{
        display: block;
    }
    #member-banner{
        display: none;
    }
    #bannergym{
        display: none;
    }
    #bannergym-res{
        display: block;
        height: auto;
    }
    .bt-sign{
        border:none;
        width: 200px;
        text-align: center;
    }
    .nav-link{
        width: 200px;
    }


}
@media (max-width: 575px){
    .hot-line{
        text-align: center;
    }
}
@media (max-width:414px){

    #header-content ul{
        padding-left: 0px;
    }
    #header-content ul li{
        font-size: 18px;
    }
}
@media (max-width:342px){
    .navbar-dark .navbar-brand{
        margin-right: 0;
    }
    .navbar{
        padding: 0 5px;
    }
}